<br>
<br>
<br>
<br>
<br>
<br>

<div>
        <form name="RestoreForm" ng-submit="submit()" novalidate>
                <p >User Name: 
                <input type="text" ng-pattern="/^[a-zA-Z\s]*$/" ng-model="uname" required ng-minlength="3" ng-maxlength="8">
                <span ng-show="RestoreForm.uname.$error.required">This is required! </span>
                <span ng-show="RestoreForm.uname.$error.minlength">Minimum length is 3 </span>
                <span ng-show="RestoreForm.uname.$error.maxlength">Maximum length is 8 </span>
                <span ng-show="RestoreForm.uname.$error.pattern">only letters </span>
                <span ng-show="RestoreForm.uname.$invalid">Invalid field</span><br><br>
            </p>
            <button ng-click="Getques()">Get Questions</button>
            <p>question1: </p>
            {{quest1}}

            <p>answer1:            
                <input type="text" ng-model="ans1" required>
                <span ng-show="RestoreForm.ans1.$error.required">This is required! </span>
                <span ng-show="RestoreForm.ans1.$invalid">Invalid field</span><br><br>
            </p>
            <p>question2:</p>
            {{quest2}}
            <p>answer2:            
                <input type="text"  ng-model="ans2" required>
                <span ng-show="RestoreForm.ans2.$error.required">This is required! </span>
                <span ng-show="RestoreForm.ans2.$invalid">Invalid field</span><br><br>
            </p>

            <input ng-click="getPass()" ng-disabled="RestoreForm.$invalid" type="submit" id="submit" value="Restore" style="width:15%; height: 3%">

            <p>Password: 
                {{pass}}              
        
            </p>


        </form>
        </div>